
html {
  touch-action: manipulation;
  font-family: 'Spartan', sans-serif;
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  /* font-family: 'Spartan', sans-serif; */
}

.App-title {
  /* padding-top: 5%; */
  color: white;
  margin-bottom: 0;
  /* font-weight: 100; */
  display: inline-block;
  font-size: 4rem;
  /* width: 50%; */
}
